/* #1596c5 (dark blue)
#FFF (blanc)
#303030 (gris-noir)
*/

*
{
    margin: 0vh;
    padding: 0vh;
    font-family: 'BellotaRegular';
}

img
{
    width: 30vw;
    height: auto;
}


body
{

    background: rgb(224, 224, 224);
    margin-left: 35vh;
    margin-right: 35vh;
}


header
{
    background: lightblue;
    border-radius: 5vh;
    height: 65vh;
    text-align: center;
    padding-bottom: 1vh;
    margin-bottom: 5vh;
    margin-top: 1vh;
}
.formulaire
{
    background: lightblue;
    border-radius: 5vh;
    margin-bottom: 6vh;
    padding-bottom: 5vh;
    font-size: 2.5vh;
    height: 83vh;
}

header > p
{

    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 2.5vh;

}

h1
{
    font-size: 4vh;
    text-align: center;
    padding-bottom: 8vh;
    padding-top: 6vh;
}

form
{
    margin-left: 11vh;
    line-height: 4vh;
}

input, select, textarea
{
    display: block;
}

form p
{
    margin-left: 11vh;
    padding-bottom: 2vh;
}
select
{
    line-height: 20vh;
    min-width: 12.5vw;
}
.floatleft
{
  float: left;
  display: block;
}
.floatright
{
  float: right;
  margin-right: 9vw;
}
.categories
{
    padding-top: 1vh;
}

textarea
{
    margin-top: 2vh;
    margin-left: 11vh;
    margin-bottom: 3vh;
    width: 30vw;
    height: 20vh;
    min-width: 15vw;
    min-height: 10vh;
    max-width: 50vw;
    max-height: 35vh;
}

.categories > input
{
    margin-left: 4vh;
}

.name
{
    margin-bottom: 1vh;
}
.msg
{
    margin-top: 2vh;
    margin-left: 11vh;
}
.button
{
    margin-left: 11vh;
    font-size: 2vh;
    display: inline-block;
    min-width: 12.2vw;
    text-align: center;
}
.aste
{
  padding-top: 2vh;
  margin-left: 11vh;
  color: #9a0000;
}

footer
{
    background: lightblue;
    border-radius: 5vh;
    margin-top: 3vh;
    padding-top: 3vh;
    text-align: center;
    height: 7vh;
    font-size: 2.5vh;
    margin-bottom: 5vh;
}
